<table border="1" width="100%">
  <tr>
    <td width="15%">
      <h2>Ratings List</h2>
    </td>
    <td width="85%" align="right">
    </td>
  </tr>
  <tr>
    <td width="15%" valign="top"><%= render :partial => '/adminlinks' %></td>
    <td width="85%" style="padding-left: 20px;">

      <% if @ratings.blank? %>
          <p>There are no ratings currently in the system.</p>
      <% else %>
          <p>These are the current ratings available in our system.</p>
          <table border="2">
                <tr>
                    <td>Team #ID</td>
                    <% (1..Category.all.length).each do |f| %>
                        <td>Category <%= f %></td>
                    <% end %>
                    <td>Overall Category</td>
                    <td>Comments</td>
                    <td>Delete</td>
                </tr>

            <% @ratings.each do |c| %>
                <tr>
                  <td><%= c.tid %></td>
                  <% if !c.cat1.nil? %>
                    <td><%= c.cat1 %></td>
                  <% end %>
                  <% if !c.cat2.nil? %>
                      <td><%= c.cat2 %></td>
                  <% end %>
                  <% if !c.cat3.nil? %>
                      <td><%= c.cat3 %></td>
                  <% end %>
                  <% if !c.cat4.nil? %>
                      <td><%= c.cat4 %></td>
                  <% end %>
                  <% if !c.cat5.nil? %>
                      <td><%= c.cat5 %></td>
                  <% end %>
                  <% if !c.cat6.nil? %>
                      <td><%= c.cat6 %></td>
                  <% end %>
                  <% if !c.cat7.nil? %>
                      <td><%= c.cat7 %></td>
                  <% end %>
                  <% if !c.cat8.nil? %>
                      <td><%= c.cat8 %></td>
                  <% end %>
                  <% if !c.cat9.nil? %>
                      <td><%= c.cat9 %></td>
                  <% end %>
                  <% if !c.cat10.nil? %>
                      <td><%= c.cat10 %></td>
                  <% end %>
                  <% if !c.overall.nil? %>
                      <td><%= c.overall %></td>
                  <% end %>
                  <% if !c.comments.blank? %>
                      <td><%= c.comments %></td>
                  <% else %>
                      <td>Not available</td>
                  <% end %>
                  <td><%= link_to 'Delete', {:action => 'destroy', :id => c.id}, :confirm => 'Are you sure you want to delete this item?' %></td>
                </tr>
            <% end %>
          </table>
      <% end %>
    </td>
  </tr>
</table>